[submodule ".tmux/plugin/tmux-sensible"]
	path = .tmux/plugin/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule ".tmux/plugin/tpm"]
	path = .tmux/plugin/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".tmux/plugin/tmux-better-mouse-mode"]
	path = .tmux/plugin/tmux-better-mouse-mode
	url = https://github.com/NHDaly/tmux-better-mouse-mode
